<!doctype html>
<html>
    <head>
    <title>Hi There!</title>
    </head>
    <body>

    <h1>Hi There!</h1>

    <form action="/madlib">
        Name a person:
        
        <select name="person">
            <option value="mom">Mom</option>
            <option value="grandpa">Grandma</option>
            <option value="sister">Sister</option>
        </select>

        Pick a color:
        <select name="color">
            <option value="red">red</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
        </select>
        
        Choose a noun:
        <select name="noun">
            <option value="man">man</option>
            <option value="woman">woman</option>
            <option value="kid">kid</option>
            <option value="student">student</option>
            <option value="baby">baby</option>
        </select>
            
        Give me an adjective:
        <select name="adjective">
            <option value="furry">Furry</option>
            <option value="striped">Striped</option>
            <option value="slippery">Slippery</option>
        </select>
        <input type="submit">
    </form>


    </body>
</html>